.box1{
    background-color: yellow;
    padding: 15px 10px 15px 10px;
    border: 20px solid red; 
    margin:15px 10px 15px 10px;
    width: 50%;
    height: 50%;
}

.box2{
    background-color: yellow;
    padding: 15px 10px 15px 10px;
    border: 20px solid red; 
    margin:15px 10px 15px 10px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}